@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


html {
  scroll-behavior: smooth;
}

#root {
  font-family: Verdana;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-outline.png');
}

.navvar-brand {
  font-family: 'Roboto';
  font-size: 50px !important;
}

.card img {
  height: 300px;
  object-fit: cover;
}